{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}DjangoSMS{% endblock title %}</title>

    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'sky-green': {
                            50: '#E6F7F6',
                            100: '#CCF0ED', 
                            200: '#99E1DA',
                            300: '#66D2C8',
                            400: '#33C3B5',
                            500: '#004443',
                            600: '#003B39',
                            700: '#002D2C',
                            800: '#001F1E',
                            900: '#001110',
                        },
                        'sea-green': {
                            50: '#E6F7F6',
                            100: '#CCF0ED',
                            200: '#99E1DA',
                            300: '#66D2C8',
                            400: '#33C3B5',
                            500: '#004443',
                            600: '#003B39',
                            700: '#002D2C',
                            800: '#001F1E',
                            900: '#001110',
                        }
                    },
                    fontFamily: {
                        'rubik': ['Rubik', 'sans-serif'],
                    }
                }
            }
        }
    </script>

    <!-- Fontawesome icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-6.5.1/css/all.min.css' %}">

    <!-- Bootstrap5 -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-5.3.2/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
    
    <!-- Sea Green Theme Override -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/sea-green-theme.css' %}">

    <!-- <script src="https://js.stripe.com/v3/"></script> -->
    {% block header %}{% endblock %}
</head>

<body>
    {% block sidebar %}
        {% include 'sidebar.html' %}
    {% endblock %}

    {% block maincontent %}
    <div id="main">
        {% block topbar %}
            {% include 'navbar.html' %}
        {% endblock %}

        <div class="container-fluid" id="main-content">
            {% block content %}{% endblock content %}
        </div>

    </div>
    {% endblock %}
    <script src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/jquery-3.7.1/jquery-3.7.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap-5.3.2/js/bootstrap.bundle.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    {% block js %}
    {% endblock js %}
</body>

</html>
